h1{
    text-align: center; 
}
body{
    background-color: lightblue; 
}
fieldset{
    font-family: sans-serif;
}
#zipAlert{
    color: red; 
}
#userBad{
    color: red; 
}
#fnameAlert{
    color: red; 
}
#lnameAlert{
    color: red; 
}
#emailAlert{
    color: red; 
}
#numberAlert{
    color: red; 
}
#passAlert{
    color: red; 
}
#secondPassAlert{
    color: red; 
}
#stateAlert{
    color: red; 
}
#countyAlert{
    color: red; 
}
#usernameAlert{
    color: red; 
}
#userGood{
    color: green; 
}

