h1{
    text-align: center; 
    font-size: 50px;
	font-family: 'Passion One';
	font-weight: 400; 
}
body{
    height: 100%;
 	background-repeat: no-repeat;
 	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
 	font-family: 'Oxygen', sans-serif;
	background-size: cover;
}
fieldset{
    font-family: sans-serif;
}
#zipAlert{
    color: red; 
}
#userBad{
    color: red; 
}
#fnameAlert{
    color: red; 
}
#lnameAlert{
    color: red; 
}
#emailAlert{
    color: red; 
}
#numberAlert{
    color: red; 
}
#passAlert{
    color: red; 
}
#secondPassAlert{
    color: red; 
}
#stateAlert{
    color: red; 
}
#countyAlert{
    color: red; 
}
#usernameAlert{
    color: red; 
}
#userGood{
    color: green; 
}

