
body{
    background-image:url("http://alftorres-cst336.herokuapp.com/homework/hw2/img/jungle.png");
}

h1{
    text-align: center; 
}

div{
    text-align: center; 
}

img {
    border: 10px solid black; 
    border-radius: 20px; 
}

#randButton{
        text-align: center; 
        font-size:1em;
        
}

#randButton2{
        text-align: center; 
        font-size:1em;
        
}

footer{
    text-align: center;
    color:white;
}