body {
    background-color: Black;
    color:white;
}

header, nav, footer{
    text-align: center;  
}

.Spring{
    float:right;
}

.Summer{
     float:right; 
}

.Fall{
    float:left; 
}

.Winter{
    float: left; 
}


